

body {
 font-family: 'japp<span style="font-family: 'Jaapokki subtract'; font-weight: normal; font-style: normal; text-decoration: none;"></span>', sans-serif;
  margin: 0 auto;
  padding: 0;
  background: white

}
.hero {
background: url('images/photo1.jpg') no-repeat center center;
background-size: cover;
display: inline-table;
width: 100%;
}
.hero .container {
display: table-cell;
text-align: center;
vertical-align: middle;
height: 680px

}

.hero .container{
font-size:25px;
font-family: 'japp<span style="font-family: 'Jaapokki subtract'; font-weight: normal; font-style: normal; text-decoration: none;"></span>', sans-serif;
color: white;
}

.nav {
 margin: 0 auto;
 background-color: transparent;
 border-color: black;
 border-radius: 5px 5px 5px 5px;
 border-style: ;
 border-width: 0px;
 list-style: none outside none;
 margin: 0;
 padding: 0;
opacity: 0.5;
filter: alpha(opacity=50); 
  overflow-y: scroll;
}

.nav li.a {
text-align:center;
color: #FF4500;
  } 
  
  
.nav li {
  font-family: 'japp<span style="font-family: 'Jaapokki subtract'; font-weight: normal; font-style: normal; text-decoration: none;"></span>', sans-serif;
  font-size: 40px ;
  line-height: 45px;
  height: 40px;
  border-bottom: 0px;
  background-color: transparent;
   
}
 


p {
  margin: 5px;
  
}

 

 
  